In [1]:
import pandas as pd
import numpy as np

In [2]:
url = '/Users/vigneshpadmanabhan/Downloads/vehicles.csv.zip'
df = pd.read_csv(url, low_memory=False)
city_mpg = df.city08
highway_mpg = df.highway08

In [3]:
city_mpg.dtype

dtype('int64')

In [4]:
city_mpg.convert_dtypes()

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: Int64

In [5]:
city_mpg.astype('Int16')

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: Int16

In [6]:
np.iinfo('int64')

iinfo(min=-9223372036854775808, max=9223372036854775807, dtype=int64)

In [7]:
np.iinfo('int16')

iinfo(min=-32768, max=32767, dtype=int16)

In [8]:
np.iinfo('int8')

iinfo(min=-128, max=127, dtype=int8)

In [9]:
np.finfo('float16')

finfo(resolution=0.001, min=-6.55040e+04, max=6.55040e+04, dtype=float16)

In [10]:
np.finfo('float32')

finfo(resolution=1e-06, min=-3.4028235e+38, max=3.4028235e+38, dtype=float32)

In [11]:
city_mpg.nbytes

329152

In [12]:
city_mpg.astype('int16').nbytes

82288

In [13]:
make  = df.make

In [14]:
make.nbytes # nbytes only considrers the memory that the data is using.

329152

In [15]:
make.memory_usage() # includes the index memory and hte object type contribution

329280

In [16]:
make.memory_usage(deep = True)

2606395

In [17]:
(make
.astype('category')
.memory_usage(deep = True))

95888

In [18]:
city_mpg.dtypes

dtype('int64')

In [19]:
city_mpg.astype('str')

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: object

In [20]:
city_mpg.astype('category')

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: category
Categories (105, int64): [6, 7, 8, 9, ..., 137, 138, 140, 150]

In [21]:
values = pd.Series(sorted(set(city_mpg)))
values

0        6
1        7
2        8
3        9
4       10
      ...
100    136
101    137
102    138
103    140
104    150
Length: 105, dtype: int64

In [22]:
city_type = pd.CategoricalDtype(categories = values, ordered = True)
city_mpg.astype(city_type)

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: category
Categories (105, int64): [6 < 7 < 8 < 9 ... 137 < 138 < 140 < 150]

Converting to other data types

In [23]:
city_mpg.to_frame() # to convert to a dataframe

       city08
0          19
1           9
2          23
3          10
4          17
...       ...
41139      19
41140      20
41141      18
41142      18
41143      16

[41144 rows x 1 columns]

exercise

In [24]:
import numpy as np

Convert numerical column to a smaller type

In [28]:
city_mpg

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int64

In [29]:
city_mpg.astype('int32')

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int32

Calculate the memory saving after converting to a small numerical type

In [33]:
a = city_mpg.memory_usage(deep = True)
a

329280

In [34]:
b = city_mpg.astype('int32').memory_usage(deep=True)
b

# almost 50% saving.

164704