In [1]:
import pandas as pd
import numpy as np

In [2]:
url = '/Users/vigneshpadmanabhan/Downloads/vehicles.csv.zip'
df = pd.read_csv(url)
city_mpg = df.city08
highway_mpg = df.highway08

/var/folders/m4/8jm5_sl57_qc96c3_gx61j_m0000gn/T/ipykernel_34423/1603519143.py:2: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

When we write 2 + 4, internal to python it will use 2.__add__4 to compute the addition and similar for division .__div__

In [3]:
(city_mpg + highway_mpg)/2

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
41139    22.5
41140    24.0
41141    21.0
41142    21.0
41143    18.5
Length: 41144, dtype: float64

When performing series operations, its important make sure the index align. pandas will handle it by aligning them automatically. but if there are duplicates then it needs to be handled.

In [4]:
S1 = pd.Series([10,12,23],index = [1,2,3])
S2 = pd.Series([34,54,76], index = [1,2,2])

In [5]:
S1 + S2 # here as we didn't have 3 index to match the first series, it provided NaN in that instance.

1    44.0
2    66.0
2    88.0
3     NaN
dtype: float64

In [6]:
S3 = pd.Series([10,20,30],index = [1,2,2])
S4 = pd.Series([40,50,60], index = [2,2,4])
S3 + S4

1     NaN
2    60.0
2    70.0
2    70.0
2    80.0
4     NaN
dtype: float64

Broadcasting

In [7]:
S3.add(S4, fill_value = 0)

1    10.0
2    60.0
2    70.0
2    70.0
2    80.0
4    60.0
dtype: float64

Chaining

In [8]:
(
    (city_mpg + highway_mpg
    )/2
    )

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
41139    22.5
41140    24.0
41141    21.0
41142    21.0
41143    18.5
Length: 41144, dtype: float64

In [9]:
(
    city_mpg
    .add(highway_mpg)
    .div(2)
)

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
41139    22.5
41140    24.0
41141    21.0
41142    21.0
41143    18.5
Length: 41144, dtype: float64

Exercise

In [12]:
# Add numeric series to itself
S3 + S3

1    20
2    40
2    60
dtype: int64

In [13]:
S3

1    10
2    20
2    30
dtype: int64

In [15]:
#Broadcasting
S3.add(10)

1    20
2    30
2    40
dtype: int64